name: Pass check and tests
on: [push, pull_request]
permissions:
  contents: read
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: uv sync
      - name: Check style, format and lint
        run: |
          make check-lint
          make check-typing
          make check-format
      - name: Tests
        run: |
          make test-local
